@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top:-10px;

    color: #ffc0cb;
}

hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    color: #ffc0cb;

}

div {

    margin-top: 100px;

}

button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #ffc0cb;
    border: none;
    border-radius: 5px;
    cursor:pointer;

    width: 280px;
    height: 25px;
}

img {
    width: 306px;
    height: 223px;
}